.ContentContainer {
    margin-left: 16px;
    padding-bottom: 12px;
    h3 {
        margin: 12px 0 28px 0;
    }
}

.Content_Contry {
    box-shadow: 0 6px 20px rgba(73, 72, 72, .5);
    margin-top: 26px;
}
.Content_Contry:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 26px rgba(73, 72, 72, .5);
    cursor: pointer;
}
.Content_Contry:active {
    transform: translateY(0);
    box-shadow: 0 6px 20px rgba(73, 72, 72, .5);

}

.ContentImg {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Vietnam.svg/1200px-Flag_of_Vietnam.svg.png)  center / cover no-repeat;
    height: 160px;
}

.ContentImg2 {
    background: url(https://tulieuvankien.dangcongsan.vn/Uploads/2018/7/5/4/portugal278.svg.png)  center / cover no-repeat;
    height: 160px;
}
.ContentImg3 {
    background: url(https://cacnuoc.vn/wp-content/uploads/2016/04/Duc_Flag.png)  center / cover no-repeat;
    height: 160px;
}
.ContentImg4 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_Thailand.svg/1200px-Flag_of_Thailand.svg.png)  center / cover no-repeat;
    height: 160px;
}
.ContentImg5 {
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/Flag_of_Denmark.svg/640px-Flag_of_Denmark.svg.png)  center / cover no-repeat;
    height: 160px;
}
.ContentImg6 {
    background: url(https://cacnuoc.vn/wp-content/uploads/2016/04/vfinance_spain-flag.gif)  center / cover no-repeat;
    height: 160px;
}
.ContentImg7 {
    background: url(https://icdn.dantri.com.vn/k:c05a76d21c/2016/01/03/4-1451800905374/y-nghia-thu-vi-an-sau-nhung-la-quoc-ky-tren-the-gioi.jpg)  center / cover no-repeat;
    height: 160px;
}
.ContentImg8 {
    background: url(https://anbvietnam.vn/wp-content/uploads/2020/11/y-nghia-quoc-ky-han-quoc3.png)  center / cover no-repeat;
    height: 160px;
}
.ContentImg_sub {
    display: flex;
    margin: 6px 0;
}