.FooterPhone {
    margin-top: 20px;
    h5 {
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        font-weight: normal;
        
    }
    p {
        color: #9a938c;
        font-size: 14px;
        line-height: 14px;
        margin: 10px 0 20px 0;
    }
}

.FooterSub {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
}

.FooterContainer {
    background-color: #434a54;
    margin-top: 70px;
    padding: 36px 0 82px 0;
}

.FooterSocial {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 22px;
    margin-top: 28px;

 
}
.Facebook:hover,
.Twitter:hover,
.Youtube:hover,
.Tele:hover,
.Instagram:hover {
    color: rgb(214, 126, 126);
    cursor: pointer;
}

.FooterInput {
    background-color: #4a515b;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    padding: 6px 0 6px 6px;
}
.FooterBtn {
    background-color: #1bbc9b;
    border: none;
    padding: 6px 12px 6px 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    
}