* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    overflow: hidden;
} 
.darkTheme{
    background-color: rgba(7, 49, 85, 0.6);
    color: #fff;
    box-shadow: 0 1px 4px #000;
}

.lightTheme{
    background-color: #fff;
    color: #222;
    box-shadow: 0 1px 4px #000;
}



