.Container {
    justify-content: space-between;
}

.Search {
    input {
        width: 100%;
        height: 26px;
        font-size: 16px;
        padding: 16px 0 16px 10px;
        outline: none;
    }
    
    h5 {
        font-size: 20px;
        font-weight: 600;
        margin: 16px 0 12px 0;
        letter-spacing: -0.5px;
    }
   
}
.FilterZ {
    z-index: 1;
}

.iconSearch {
    background-color: #ccc;
    padding: 0 16px;    
    line-height: 26px;   
    
}

.iconSearch:hover {
    background-color: tomato;
    cursor: pointer;
}

.icon {
    transform: translateY(40%);
    font-size: 20px;
}

.FilterContainer:hover ul {
    display: block;
    z-index: 1;
    background-color: #fff;
    
}

.FilterContainer {
    display: flex;
    box-shadow: 0 1px 4px #ccc;
    width: 100%;
    justify-content: space-between;
    height: 34px;
    padding: 0 6px;
    position: relative;
    cursor: pointer;

    p {
        font-size: 18px;
        font-weight: 600;
        line-height: 32px;
    }

    div {
        position: absolute;
        box-shadow: 0 1px 10px #ccc;
        
        top: 98%;
        left: 0;
        width: 100%;    
        
        ul {
            display: none;
        }

        li {
            display: flex;
            padding: 2px 0;            
        }

        li:hover {
            background-color: tomato;
            cursor: pointer;
        }
    }
}
.NumberContent:hover {
    background-color: rgb(245, 35, 35);
    cursor: pointer;
}
.NumberContent {
    background-color: rgb(54, 61, 122);
    padding: 4px 10px;
    border-radius: 100%;
    border: 1px solid rgb(88, 88, 88);
    margin: 0 4px;
    color: #fff;
    span {
        font-size: 18px;
    }
}

.active {
    background-color: rgb(245, 35, 35);
    
}
